beautifulsoup4==4.11.1
numpy==2.0.0
opencv_python==4.9.0.80
opencv_python_headless==4.8.0.74
Requests==2.32.3
roboflow==1.1.30
streamlit==1.35.0
streamlit_carousel==1.0.0
streamlit_image_select==0.6.0
torch==2.3.0
ultralytics==8.2.14
